<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">
<head>
    <!--  사용자별 css file 추가 부분 -->
    <title th:text="${title}"></title>
</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">
    <script>
        // backgroundColor: (context) => {
        //     const bgColor = [
        //         'rgba(234,84,85,0.25)',
        //         'rgba(254,182,146,0.59)'
        //     ];
        //     if (!context.chart.chartArea){
        //         return;
        //     }
        //     const { ctx, data, chartArea: {top, bottom}} = context.chart;
        //     const gradientBg = ctx.createLinearGradient(0, top, 0, bottom);
        //     gradientBg.addColorStop(0, bgColor[0]);
        //     gradientBg.addColorStop(1, bgColor[1]);
        //     return gradientBg;
        // },
        /* chart js data set */
        // reward data Obj
        const rewardData = {
            // barThickness: 10,
            data: [86,114,1006,107,221,783,2458,1520],
            label: "rewardData",
            backgroundColor: projectPointColor['rewardColor'],
            fill: true
        }
        // donation data Obj
        const donationData = {
            // barThickness: 10,
            data: [282,1350,1411,502,635,809,947],
            label: "donationData",
            backgroundColor: projectPointColor['donationColor'],
            fill: true
        }
        // invest data Obj
        const investData = {
            // barThickness: 10,
            data: [1680,1270,178,930,1203,1276,708],
            label: "investData",
            backgroundColor: projectPointColor['investColor'],
            fill: true
        }

        // chart code
        new Chart(document.getElementById("adminDateChart"), {
            type: 'bar',

            data: {
                labels: ['10/13','10/14','10/15','10/16','10/17','10/18','10/19'],
                datasets: [rewardData, donationData, investData]
            },
            options: {
                title: {
                    display: true,
                    text: 'World population per region (in millions)'
                }
            }
        });

        // 기간 선택 min value setting
        $('input[name="amDateCulStartDate"]').on('change', function(){
           let startDate = $(this).val();
           $('input[name="amDateCulEndDate"]').prop('min',startDate);
        });

        let startDateValue = startDate(nowDateSet);
        let endDateValue = `${nowDateSet.getFullYear()}-${String(nowDateSet.getMonth() + 1).padStart(2, '0')}-${String(nowDateSet.getDate()).padStart(2, '0')}`;

        console.log(startDateValue, '<-- start value');
        console.log(endDateValue, '<-- end value');

        $('input[name="amDateCulStartDate"]').val(startDateValue);
        $('input[name="amDateCulEndDate"]').val(endDateValue);

    </script>
</th:block>


<!--/* layout:decorate : 파일에서 사용자 정의로 선언한 조각에 작성한 html 코드 삽입 */-->
<th:block layout:fragment="customContents">
    <div class="admin-content-wrapper" style="min-height:auto; color: var(--maincolor); margin-bottom: 20px;">
        통계자료는 국세청 및 기타제출용 자료로 사용이 불가능하며, 쇼핑몰 운영의 참고자료로 이용하시기 바랍니다.
    </div>
    <div class="admin-content-wrapper form-table">
        <form id="amDateChartForm" method="post">
            <table class="partition-select">
                <tbody>
                <tr>
                    <td>
                        기간
                    </td>
                    <td>
                        <input type="date" name="amDateCulStartDate">
                        <span> - </span>
                        <input type="date" name="amDateCulEndDate">
                    </td>
                </tr>
                <tr>
                    <td>
                       프로젝트 분류
                    </td>
                    <td>
                        <select id="amProjectSelect" name="amProjectSelect">
                            <option value="">프로젝트 분류를 선택해주세요</option>
                            <option value="total">전체 프로젝트</option>
                            <option value="reward">리워드 프로젝트</option>
                            <option value="donation">기부 프로젝트</option>
                            <option value="investment">투자 프로젝트</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="btn-area">
                <button type="button" class="submitBtn">검색</button>
            </div>
        </form>
    </div>

    <div class="title-wrap">
        <h4 class="admin-content-title">통계 그래프</h4>
    </div>
    <div class="admin-content-wrapper">
        <h5 class="chart-title">펀딩 성공 프로젝트 매출 집계</h5>
        <canvas id="adminDateChart"></canvas>
    </div>

    <div class="title-wrap">
        <h4 class="admin-content-title">일별 매출 내역</h4>
    </div>
    <div class="admin-content-wrapper">
        <table class="date-payment-log">
            <thead>
                <tr>
                    <th rowspan="2">일자</th>
                    <th colspan="6">결제완료 주문</th>
                    <th rowspan="2">결제합계</th>
                    <th rowspan="2">환불합계</th>
                    <th rowspan="2">순매출</th>
                </tr>
                <tr>
                    <th>주문수</th>
                    <th>품목수</th>
                    <th>상품구매금액</th>
                    <th>배송비</th>
                    <th>할인금액</th>
                    <th>쿠폰사용금액</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="10" style="text-align: center; padding: 30px 0;">검색 결과가 없습니다.</td>
                </tr>
            </tbody>
        </table>
    </div>
</th:block>
</body>
</html>