<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<head>
    <!--  사용자별 css file 추가 부분 -->
    <title th:text="${title}"></title>
</head>

<!-- 통계 대시보드 -->

<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">
    <script>
        // labels values
        const labelData = [];

        for(let i = 6; i >= 0; i--){
            let dateSetValue = monthAndDaySetting(i);
            labelData.push(dateSetValue);
        }

        /* chart js data set */
        // reward data Obj
        const rewardData = {
            // barThickness: 10,
            data: [86,114,1006,107,221,783,2458],
            label: "rewardData",
            backgroundColor: projectPointColor['rewardColor'],
            fill: true
        }
        // donation data Obj
        const donationData = {
            // barThickness: 10,
            data: [282,1350,1411,502,635,809,947],
            label: "donationData",
            backgroundColor: projectPointColor['donationColor'],
            fill: true
        }
        // invest data Obj
        const investData = {
            // barThickness: 10,
            data: [1680,1270,178,930,1203,1276,708],
            label: "investData",
            backgroundColor: projectPointColor['investColor'],
            fill: true
        }

        // total Chart
        const chart = new Chart(document.querySelector("#myTotalChart canvas"), {
            type: 'bar',
            data: {
                labels: labelData,
                datasets: [rewardData, donationData, investData]
            },
            options: {
                title: {
                    display: false,
                    text: 'World population per region (in millions)'
                }
            }
        });

        // chart 분류 선택시 chart 생성
        $('#reportrange').on('change',function(){
            const chartSet = [rewardData, donationData, investData];
            let thisValue = $(this).val();
            if(thisValue == 'totalData') {
                chart.data['datasets'] = chartSet;
            } else {
                let idxNum = 0;
                const filterSet = chartSet.filter((elements) => elements['label'] == thisValue);
                chart.data['datasets'] = filterSet;
            }
            chart.data.datasets[0].data[2] = 50;
            chart.update('active');
        });

        // count total data
        const $countEls = $('.chart-description-data h2 span');
        $countEls.each((idx, item) => {
            let max = $(item).attr('data-value');
            counterShort(item, max);
        });

    </script>
</th:block>


<!--/* layout:decorate : 파일에서 사용자 정의로 선언한 조각에 작성한 html 코드 삽입 */-->
<th:block layout:fragment="customContents">

    <div class="admin-wrapper">
        <div class="filter">
            <label for="reportrange"></label>
            <select id="reportrange" class="pull-right" name="total-chart-project-select" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                <option value="totalData">전체 프로젝트</option>
                <option value="rewardData">리워드 프로젝트</option>
                <option value="donationData">기부 프로젝트</option>
                <option value="investData">투자 프로젝트</option>
            </select>
        </div>
        <section id="todat-dash" class="admin-today-dash" >
            <div class="admin-content-wrapper">
                <!-- 그래프 -->
                <div>
                    <h5 class="chart-title">펀딩 성공 프로젝트 매출 집계</h5>
                    <div class="x_content">
                        <div class="chart-description">
                            <!-- total chart area -->
                            <div>
                                <div class="demo-container active" id="myTotalChart">
                                    <!--  chartjs canvas area -->
                                    <canvas width="740" height="280"></canvas>
                                </div>
                            </div>
                            <div class="tiles-area">
                                <div class="tiles">
                                    <div class="chart-description-data">
                                        <p>오늘 들어온 주문</p>
                                        <h2><span class="order-count" data-value="231809">0</span> 건</h2>
                                    </div>
                                    <div class="chart-description-data">
                                        <p>오늘 총 결제된 금액</p>
                                        <h2><span class="payment-total price-data" data-value="231809000">0</span>원</h2>
                                    </div>
                                    <div class="chart-description-data">
                                        <p>오늘 승인 프로젝트 수</p>
                                        <h2><span class="project-count" data-value="521">0</span></h2>
                                    </div>
                                </div>
                                <div class="cal-total-info">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="area-row">
            <section id="tdsslRnkng" class="admin-today-dash" >
                <div class="title-wrap">
                    <h4 class="admin-content-title">오늘 장바구니 담긴 순위</h4>
                    <form class="project_selected" method="get">
                        <select name="projectSelected">
                            <option value="">=== 프로젝트 분류 ===</option>
                            <option value="reward">리워드 프로젝트 통계</option>
                            <option value="donation">기부 프로젝트 통계</option>
                            <option value="investment">투자 프로젝트 통계</option>
                        </select>
                    </form>
                </div>
                <div class="admin-content-wrapper">
                    <table class="total-table action">
                        <thead>
                        <tr>
                            <th class="table-no">No.</th>
                            <th >상품명</th>
                            <th class="table-option">옵션</th>
                            <th class="table-count">개수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="4" style="text-align: center;">토탈 데이터가 없습니다.</td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </section>
            <section id="tdyrShcrt" class="admin-today-dash" >
                <div class="title-wrap">
                    <h4 class="admin-content-title">오늘 상품 판매량 순위</h4>
                    <form class="project_selected" method="get">
                        <select name="projectSelected">
                            <option value="">=== 프로젝트 분류 ===</option>
                            <option value="reward">리워드 프로젝트 통계</option>
                            <option value="donation">기부 프로젝트 통계</option>
                            <option value="investment">투자 프로젝트 통계</option>
                        </select>
                    </form>
                </div>

                <div class="admin-content-wrapper">
                    <table class="total-table action">
                        <thead>
                        <tr>
                            <th class="table-no">No.</th>
                            <th >상품명</th>
                            <th class="table-option">옵션</th>
                            <th class="table-count">개수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="4" style="text-align: center;">토탈 데이터가 없습니다.</td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </section>
        </div>
    </div>
</th:block>

</html>