<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{seller/layout/default}">

<head>
    <!--  사용자별 css file 추가 부분 -->
    <title th:text="${title}"></title>
    <style>
        div:not(.link-a-area) > .sett-total-item .sett-total-item-data a:hover {
            text-decoration: none;
            cursor: default;
        }
    </style>
</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">
    <script th:src="@{/admin/js/settlement/adminCustomJs.js}"></script>
</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">
    <script>
        // 기간 선택 min value setting
        $('input[name="amDateSettStartDate"]').on('change', function(){
            let startDate = $(this).val();
            $('input[name="amDateSettEndDate"]').prop('min',startDate);
        });



        let startDateValue = startDate(nowDateSet);
        let endDateValue = `${nowDateSet.getFullYear()}-${String(nowDateSet.getMonth() + 1).padStart(2, '0')}-${String(nowDateSet.getDate()).padStart(2, '0')}`;

        console.log(startDateValue, '<-- start value');
        console.log(endDateValue, '<-- end value');

        $('input[name="amDateSettStartDate"]').val(startDateValue);
        $('input[name="amDateSettEndDate"]').val(endDateValue);





        // popup controll
        $('.sett-detail-info-btn').on('click', function(){
            $('.detail-popup-modal').show();
        });
        $('.close-btn').on('click', function(){
            $('.detail-popup-modal').hide();
        });

    </script>
</th:block>

<!--/* layout:decorate : 파일에서 사용자 정의로 선언한 조각에 작성한 html 코드 삽입 */-->
<th:block layout:fragment="customContents">
    <div class="admin-wrapper">
        <!-- dashboard-->
        <div th:replace="~{seller/fragments/settlement_info_header :: settlementInfoHeader}"></div>
        <!-- search form fragments start -->
        <th:block th:replace="~{common/fragments/searchFormFragments :: searchFormFragments}"></th:block>
        <!-- search form fragments end -->
        <div class="title-wrap">
            <h4 class="admin-content-title">정산 신청 목록</h4>
            <div class="btnArea">
                <button type="button" class="printBtn"><span>액셀 다운로드</span></button>
            </div>
        </div>
        <div class="admin-content-wrapper">
            <!-- select are -->
            <div class="data-info">
                <div class="list-count-area">
                    <ul>
                        <li>정산 신청 총 <span class="count-data total-list">0</span>건</li>
                        <li>선택 항목 총 <span class="count-data select-list-count">0</span>건</li>
                    </ul>
                </div>
                <div class="list-count-selector">
                    <select name="orderby">
                        <option value="regist_d">등록일 역순</option>
                        <option value="regist_a">등록일 순</option>
                        <option>-----------------</option>
                        <option value="project_name_d">프로젝트명 역순</option>
                        <option value="project_name_a">프로젝트명 역순</option>
                        <option>-----------------</option>
                        <option value="appli_progress_p">처리전 신청</option>
                        <option value="appli_progress_i">처리중 신청</option>
                        <option value="appli_progress_c">처리완료 신청</option>
                    </select>
                    <select name="count-select">
                        <option value="15">15개씩 보기</option>
                        <option value="20">20개씩 보기</option>
                        <option value="30">30개씩 보기</option>
                    </select>
                </div>
            </div>
            <!-- contents area -->
            <form>
                <table class="settlement-log">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" name="allSelect" id="allSelectBtn">
                            </th>
                            <th>정산 코드</th>
                            <th style="width:8%;">스토어명</th>
                            <th style="width:8%;">프로젝트<br>분류</th>
                            <th style="width:25%;">프로젝트 명</th>
                            <th>신청<br>아이디</th>
                            <th style="width:20%;">
                                정산 예정 금액
                            </th>
                            <th style="width:10%;">정산 예정일</th>
                            <th style="width:10%;">정산 완료일</th>
                            <th>처리 현황</th>
                            <th>담당자</th>
                        </tr>

                    </thead>
                    <tbody>
                        <!-- 조회 결과 없음 -->
<!--/*     <tr th:if="${getSettPrjList == null && #arrays.length(getSettPrjList) == 0}">
                       <td colspan="10" style="text-align: center; padding: 30px 0;">검색 결과가 없습니다.</td>
                    </tr> */-->
                        <!-- 조회 결과 contents -->
                  <!--/*  <tr th:unless="${getSettPrjList == null && #arrays.length(getSettPrjList) == 0}"
                            th:each="l : ${getSettPrjList}">
                            <td>
                                <input type="checkbox" name="selectList">
                            </td>
                            <td>
                                <a class="detail-link" th:href="@{/seller/settlement/applicationRemove(projectCode=${l.projectCode})}">[[${l.projectCode}]]</a>
                            </td>
                            <td>
                                [[l.storeName]]
                            </td>
                            <td class="table-data-center">
                                [[l.projectPartition]]
                            </td>
                            <td>
                                [[l.subject]]
                            </td>
                            <td>
                                [[l.memberId]]
                            </td>
                            <td>
                                <div style="float:left;"><span class="settlement-pay">[[l.projectAchievementMoney]]</span> 원</div>
                                <a class="sett-detail-info-btn table-detail-btn" style="float:right;">상세보기</a>
                            </td>
                            <td>

                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                처리중
                            </td>
                            <td>
                                id001
                            </td>

                        </tr> */-->

                    </tbody>
                </table>
            </form>
            <!-- list pager -->
            <div class="board-page-area">
                <div class="list-controller-inner">
                    <ul>
                        <li class="link-active"><a th:href="@{#}">1</a></li>
                        <li><a th:href="@{#}">2</a></li>
                        <li><a th:href="@{#}">3</a></li>
                        <li><a th:href="@{#}">4</a></li>
                        <li><a th:href="@{#}">5</a></li>
                        <li><a th:href="@{#}">6</a></li>
                    </ul>
                    <div class="list-btn-area">
                        <button class="prev-transfer">
                            <span>prev</span>
                        </button>
                        <button class="next-transfer">
                            <span>next</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</th:block>
</body>
</html>