<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<head>
    <!--  사용자별 css file 추가 부분 -->
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/admin/css/adminBoard.css}">
    <style>

    </style>
</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">
    <!--    <script>-->
    <!--        function popupOpen(){-->
    <!--            console.log("a");-->
    <!--            var url= "/admin/board/main";    //팝업창에 출력될 페이지 URL-->
    <!--            var winWidth = 700;-->
    <!--            var winHeight = 600;-->

    <!--            var popupX = (document.body.offsetWidth / 2) - (winWidth / 2);-->
    <!--            // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음-->

    <!--            var popupY= (window.screen.height / 2) - (winHeight / 2);-->
    <!--            // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음-->
    <!--            var popupOption= 'status=no, height='+winWidth+', width='+winHeight+', left='+ popupX + ', top='+ popupY;    //팝업창 옵션(optoin)-->

    <!--            window.open(url,' target="_blank"',popupOption);-->
    <!--    </script>-->

</th:block>
<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">
    <script>
        // 체크박스 전체 선택
        // $('#allCheck').on('click', function (){
        //     let isChecked = $(this).prop('checked');
        //     $('input[name="selectList"]').prop('checked', isChecked);
        // });
    </script>
</th:block>

<th:block layout:fragment="customContents">
    <div class="boardMain" style="margin-bottom: 20px;">
        <h3>1:1 문의 답변 관리</h3>
    </div>
    <form th:action="@{/admin/inquiry/inquiryAnswer}" method="post">

        <div class="section">
            <div class="title"><h2>1:1 문의 답변 관리</h2></div>

        </div>

        <div class="boardTable settlement-log">
            <table border="1">
                <thead class="top">
                <tr>
                    <th><input type="checkbox" class="rowCheck" id="allSelectBtn" name="selectList"></th>
                    <th>문의 코드</th>
                    <th>관리자 회원 아이디</th>
                    <th>문의 답변 제목</th>
                    <th>문의 답변 내용</th>
                    <th>문의 날짜</th>
                    <th>문의 답변 코드</th>
                    <th>문의 관리</th>

                </tr>
                </thead>
                <tbody class="center">
                <tr th:unless="${inquiryList == null}" th:each="hp : ${inquiryList}">
                    <td>
                        <input type="checkbox" class="rowCheck" name="selectList" value="1">
                    </td>
                    <td th:text="${hp.inquireCode}"></td>
                    <td th:text="${hp.memberId}"></td>
                    <td th:text="${hp.iqSubject}"></td>
                    <td th:text="${hp.iqContent}"></td>
                    <td th:text="${hp.iqDatetime}"></td>
                    <td th:text="${hp.contactAnswerCode}"></td>
                    <td>
                        <a class="modify" th:onclick="|popupOpen('@{/admin/inquiry/inquiryModify(inquireCode=${hp.inquireCode})}', 720,720)|">답변</a>
                        <a class="delete" th:href="@{#}">삭제</a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="board-page-area">
            <div class="list-controller-inner">
                <ul>
                    <li class="link-active"><a th:href="@{#}">1</a></li>
                    <li><a th:href="@{#}">2</a></li>
                    <li><a th:href="@{#}">3</a></li>
                    <li><a th:href="@{#}">4</a></li>
                    <li><a th:href="@{#}">5</a></li>
                    <li><a th:href="@{#}">6</a></li>
                </ul>
                <div class="list-btn-area">
                    <button class="prev-transfer">
                        <span>prev</span>
                    </button>
                    <button class="next-transfer">
                        <span>next</span>
                    </button>
                </div>
            </div>

        </div>
    </form>
</th:block>
</html>