@charset "UTF-8";
/*@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.3/dist/web/variable/pretendardvariable-jp.css');*/

/*@font-face {*/
/*    font-family: 'Pretendard Variable Subset';*/
/*    font-weight: 45 920;*/
/*    font-style: normal;*/
/*    font-display: block;*/
/*    src: url('https://tistory1.daumcdn.net/tistory/814207/skin/images/PretendardVariable.subset.blog.woff2') format('woff2-variations');*/
/*}*/

/*body {*/
/*    font-family: 'Pretendard JP Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Emoji', sans-serif;*/
/*}*/

root{

}
#wrap {
    text-align: center;
}
#title span {
    font-size: 4vw;
    /*animation: titleAni 4s infinite both;*/
    /*animation-delay: var(--delay);*/
    /*text-align: center;*/
    /*--delay: calc((var(--variable-index) + 1) * 0.075s);*/
}
#title {
    /*max-width: 100%;*/
    /*text-align: center;*/
    /*font-size: 6vw;*/
    /*line-height: 1.25;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*will-change: scroll-position;*/
    /*content-visibility: auto;*/
}
/* title animation css */
@keyframes titleAni {
    0% {font-weight: 45;}
    50% {font-weight: 930;}
    100% {font-weight: 45;}
}
