<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	 <footer class="ftco-footer ftco-section" th:fragment="footerFragment">
      <div class="container">
		
		<div class="footer-wrapper">
			
			<div class="footer-info">
				<p class="info-contents">
					<b>(주) FLOCKY</b>
					<span></span>
					대표이사 김플로
					<span></span>
					사업자등록번호 131-23-54689
					<span></span>
					통신판매업신고번호 2023-전북전주-3562
					<b><a th:href="@{#}">[사업자정보확인]</a></b>
					<br>
					전북 전주시 덕진구 백제대로 027 육삼빌딩 3층 302호 (주)플로키 서비스센터
					<span></span>
					이메일상담 flocky@flocky.kr
					<span></span>
					유선상담 1000-0000
					
				</p>
				<p class="copyright">
					copyright &copy; flocky corp. 2023 All Rights Reserved.
				</p>
			</div>
		</div>
      </div>
    </footer>
</html>