<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block>
        <div>
            <div class="demo-container active" id="myTotalChart">
                <!--  chartjs canvas area -->
                <canvas width="740" height="280"></canvas>
            </div>

            <!-- reward chart area -->
            <div class="demo-container" id="myRewardChart" style="height:280px">
                <!--  chartjs canvas area -->
                <canvas width="740" height="280"></canvas>
            </div>

            <!-- donation chart area -->
            <div class="demo-container" id="myDonationChart" style="height:280px">
                <!--  chartjs canvas area -->
                <canvas width="740" height="280"></canvas>
            </div>

            <!-- investment chart area -->
            <div class="demo-container" id="myInvestmentChart" style="height:280px">

                <!--  chartjs canvas area -->
                <canvas width="740" height="280"></canvas>
            </div>

        </div>
    </th:block>
</html>