<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="mainSlide">
    <section id="main-swiper-slide" class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-1">
                <a th:href="@{#}">
                    <div class="container">
                        <div>
                            <div class="sub-title">NEW</div>
                            <h2>
                                플로키 투자회원 전용
                                <br>
                                카톡방 오픈
                            </h2>
                            <div class="slide-description">
                                플로키 회원이라면 누구나 입장 가능
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide slide-2">
                <a th:href="@{/user/board/event}">
                    <div class="container">
                        <div>
                            <div class="sub-title">EVENT</div>
                            <h2>
                                특별히 검증된 상품만 모았어요
                                <br>
                                신상품 10% 할인
                            </h2>
                            <div class="slide-description">
                                이벤트 페이지 참조
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide slide-3">
                <a th:href="@{#}">
                    <div class="container">
                        <div>
                            <div class="sub-title">REWARD</div>
                            <h2>
                                시선집중 스페셜 기획전
                                <br>
                                추천 프로젝트를 만나보세요
                            </h2>
                            <div class="slide-description">
                                펀딩 마감기간 임박
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
        <div class="container">
            <div class="controller-area">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </section>

</th:block>

</html>