<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="searchFormFragments">
    <div class="admin-content-wrapper form-table">
        <div th:if="${#ks.request.requestURI == '/admin/order/refundSwapping'}" class="refund-tab-area">
            <ul>
                <li class="tab-btn active" data-value="refund"><span>환불 신청 목록</span></li>
                <li class="tab-btn" data-value="swapping"><span>교환 신청 목록</span></li>
            </ul>
        </div>
        <form id="searchForm" name="searchForm">
            <input type="hidden" name="dateSettStartDate">
            <input type="hidden" name="dateSettEndDate">
            <input type="hidden" name="searchKey">
            <input type="hidden" name="searchValue">
        </form>

        <table class="partition-select">
            <tbody>
            <tr>
                <td>
                    기간
                </td>
                <td>
                    <input type="date" name="amDateSettStartDate">
                    <span> - </span>
                    <input type="date" name="amDateSettEndDate">
                </td>
            </tr>
            <tr th:if="${paramActive != 'noActive'}">
                <td>
                    분류
                </td>
                <td class="order-category-select" style="height: auto !important;">
                    <ul>
                        <li>
                            <input id="rwd" type="checkbox" name="rwd">
                            <label for="rwd">리워드</label>
                        </li>
                        <li>
                            <input id="don" type="checkbox" name="don">
                            <label for="don">기부</label>
                        </li>
                        <li>
                            <input id="inv" type="checkbox" name="inv">
                            <label for="inv">투자</label>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    검색 키워드
                </td>
                <td class="order-category-select">
                    <select name="userSearchKey">
                        <option value="total">전체</option>
                        <option th:if="${#ks.request.requestURI == '/admin/order/autorfnd'}" value="apcCode">자동 환불 코드</option>
                        <option value="orderCode">주문코드</option>
                        <option th:if="${#ks.request.requestURI == '/admin/order/refundSwapping'}" value="apcCode">
                            [[${(#ks.request.requestURI == '/admin/order/refundSwapping')? '환불':'교환'}]] 신청 코드
                        </option>
                        <option value="orderName">주문자명</option>
                        <option value="memberId">주문아이디</option>
                        <option value="orderFundingName">공고명</option>
                    </select>
                    <input type="text" style="padding: 6px 10px; width: 250px;" name="userSearchable">
                </td>
            </tr>
            </tbody>
        </table>
        <div class="btn-area">
            <button type="button" class="orderSearchBtn submitBtn">검색</button>
        </div>
    </div>
</th:block>


</html>