<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<head>
    <!--  사용자별 css file 추가 부분 -->
    <title>쿠폰 관리</title>
    <link rel="stylesheet" th:href="@{/admin/css/adminBoard.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">
    <!--    <script>-->
    <!--        function popupOpen(){-->
    <!--            console.log("a");-->
    <!--            var url= "/admin/board/main";    //팝업창에 출력될 페이지 URL-->
    <!--            var winWidth = 700;-->
    <!--            var winHeight = 600;-->

    <!--            var popupX = (document.body.offsetWidth / 2) - (winWidth / 2);-->
    <!--            // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음-->

    <!--            var popupY= (window.screen.height / 2) - (winHeight / 2);-->
    <!--            // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음-->
    <!--            var popupOption= 'status=no, height='+winWidth+', width='+winHeight+', left='+ popupX + ', top='+ popupY;    //팝업창 옵션(optoin)-->

    <!--            window.open(url,' target="_blank"',popupOption);-->
    <!--    </script>-->

</th:block>
<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">
    <script>
        // 체크박스 전체 선택
        $('#allCheck').on('click', function (){
            let isChecked = $(this).prop('checked');
            $('input[name="admin_board"]').prop('checked', isChecked);
        });

        // 개별 체크박스 선택 시 전체 체크박스 상태 확인
        $('input[name="admin_board"]').on('click', function() {
            let totalCheckboxes = $('input[name="admin_board"]').length;
            let checkedCheckboxes = $('input[name="admin_board"]:checked').length;

            if (totalCheckboxes === checkedCheckboxes) {
                $('#allCheck').prop('checked', true);
            } else {
                $('#allCheck').prop('checked', false);
            }
        });

        // 개별 체크박스 중 하나라도 체크를 해제할 때 전체 선택 체크박스도 해제
        $('input[name="admin_board"]').on('click', function() {
            let isChecked = $(this).prop('checked');

            if (!isChecked) {
                $('#allCheck').prop('checked', false);
            }
        });

        // 쿠폰 삭제 기능
        $('.delete').on('click', function(e) {
            e.preventDefault();

            var checkedItems = $('input[name="admin_board"]:checked');
            if (checkedItems.length > 0) {
                var confirmation = confirm('삭제하시겠습니까?');
                if (confirmation) {
                    checkedItems.each(function() {
                        var couponCode = $(this).data('id');
                        console.log(couponCode);

                        $.ajax({
                            type: 'DELETE',
                            url: '/admin/board/coupon/' + couponCode,
                            success: function(response){
                                console.log(response);
                                alert('쿠폰이 성공적으로 삭제되었습니다.');
                                location.reload();  // 페이지를 새로고침하여 삭제된 쿠폰을 화면에서 제거
                            },
                            error: function(error) {
                                console.log(error);
                                alert('쿠폰 삭제에 실패하였습니다. 다시 시도해주세요.');
                            }
                        });
                    });
                }
            } else {
                alert('삭제할 쿠폰을 선택해주세요.');
            }
        });

    </script>
</th:block>

<th:block layout:fragment="customContents">
    <div class="boardMain" style="margin-bottom: 20px;">
        <h3>쿠폰 관리</h3>
    </div>
    <form>

        <div class="section">
            <div class="title"><h2>쿠폰 목록</h2></div>
            <div class="addBtnArea">
                <a th:href="@{/admin/board/couponCreate}" class="addBtn">쿠폰 등록</a>
            </div>
        </div>

        <div class="boardTable">
            <table border="1">
                <thead class="top">
                <tr>
                    <th><input type="checkbox" id="allCheck"></th>
                    <th>쿠폰 코드</th>
                    <th>쿠폰 고유 번호</th>
                    <th>쿠폰 이름</th>
                    <th>쿠폰 할인율</th>
                    <th>쿠폰 할인 금액</th>
                    <th>쿠폰 제한 수량</th>
                    <th>쿠폰 남은 갯수</th>
                    <th>쿠폰 사용 가능 기간</th>
                    <th>쿠폰 사용 조건</th>
                    <th>쿠폰 관리</th>
                </tr>
                </thead>
                <tbody class="center">
<!--                <tr th:if="${couponList == null}">-->
<!--                    <td colspan="12">쿠폰의 목록이 없습니다.</td>-->
<!--                </tr>-->

                <tr th:unless="${couponList == null}" th:each="c : ${couponList}">
                    <td><input type="checkbox" name="admin_board" th:data-id="${c.couponCode}"></td>
                    <td th:text="${c.couponCode}"></td>
                    <td th:text="${c.couponSerialNumber}"></td>
                    <td th:text="${c.couponName}"></td>
                    <td th:text="${c.couponDiscountRate}"></td>
                    <td th:text="${c.couponDiscountAmount}"></td>
                    <td th:text="${c.couponStock}"></td>
                    <td th:text="${c.numberCouponsRemaining}"></td>
                    <td th:text="${c.couponValidPeriod}"></td>
                    <td th:text="${c.couponTermsUse}"></td>
                    <td>
                        <ul STYLE="display: flex; align-items: center; gap: 5px; height: 100%; margin: 0;">
                            <li><a th:href="@{/admin/board/couponAdd(couponCode=${c.couponCode})}" class="modify">수정</a></li>
                            <li> <a th:href="@{#}" class="delete" id="deleteCouponButton">삭제</a></li>
                        </ul>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="board-page-area">
            <div class="list-controller-inner">
                <ul>
                    <li class="link-active"><a th:href="@{#}">1</a></li>
                    <li><a th:href="@{#}">2</a></li>
                    <li><a th:href="@{#}">3</a></li>
                    <li><a th:href="@{#}">4</a></li>
                    <li><a th:href="@{#}">5</a></li>
                    <li><a th:href="@{#}">6</a></li>
                </ul>
                <div class="list-btn-area">
                    <button class="prev-transfer">
                        <span>prev</span>
                    </button>
                    <button class="next-transfer">
                        <span>next</span>
                    </button>
                </div>
            </div>

        </div>
    </form>
</th:block>
</html>