<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<head>
    <meta charset="UTF-8">
    <title>쿠폰 등록</title>
    <link rel="stylesheet" th:href="@{/admin/css/couponAdd.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        .couponAdd{
            font-size: 28px;
        }
        .banner{
            width: 200px;
            background: #e5dddd;
        }
        .count{
            width: 200px;
        }
        .comment{
            width: 700px;
        }
        .mainContent{
            width: 900px;
            margin: 0 auto;
        }
        .couponBtnArea{
            text-align: right;
        }
        .CouponBtn{
            margin-top: 20px;
            background-color: black;
            font-size: 18px;
            color: #EEE;
            padding: 8px;
            border-radius: 20px 20px 20px 20px;
        }
        .discount-container {
            display: flex;
            gap: 8px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>


    <script>
        window.onload = function() {
            var discountTypeSelect = document.querySelector('.discountType');
            var discountRateInput = document.querySelector('.discountRate');
            var discountAmountInput = document.querySelector('.discountAmount');

            discountTypeSelect.onchange = function() {
                if(this.value === 'A') {
                    discountRateInput.style.display = 'block';
                    discountAmountInput.style.display = 'none';
                } else if(this.value === 'B') {
                    discountRateInput.style.display = 'none';
                    discountAmountInput.style.display = 'block';
                }
            };
        };

        // 쿠폰 등록 기능
        $(document).ready(function() {
            $('#modifyCouponForm').on('submit', function(e) {
                e.preventDefault();

                var formData = $(this).serialize();  // 폼 데이터를 serialize
                console.log(formData);  // 콘솔에 출력하여 확인

                $.ajax({
                    type: 'POST',
                    url: '/admin/board/couponCreate',
                    data: formData,
                    success: function(response){
                        console.log(response);  // 서버에서 온 응답 출력
                        alert('쿠폰이 성공적으로 등록되었습니다.');
                        window.location.href = '/admin/board/coupon';
                    },
                    error: function(error) {
                        console.log(error);  // 에러 정보 출력
                        alert('쿠폰 등록에 실패하였습니다. 다시 시도해주세요.');
                    }
                });
            });
        });
    </script>
</head>
<body>
<th:block layout:fragment="customContents">
    <div class="couponAdd">
        <h1>쿠폰</h1>
    </div>
    <form id="modifyCouponForm" th:action="@{/admin/board/couponCreate}" method="post">
        <div class="section">
            <div class="title">
                <h3>쿠폰 정보</h3>
            </div>
        </div>

        <div class="mainContent">
            <table border="1" >
                <caption>발급 정보</caption>

                <tbody class="contentForm">
                <tr class="row-2">
                    <th class="banner" th:name="couponSerialNumber" scope="row" >쿠폰고유번호 <i class="bi bi-patch-check-fill"></i></th>
                    <td><input type="text" class="comment" name="couponSerialNumber"/></td>
                </tr>
                <tr class="row-3">
                    <th class="banner" th:name="couponName" scope="row" >쿠폰이름 <i class="bi bi-patch-check-fill"></i></th>
                    <td><input type="text" class="comment" name="couponName"/></td>
                </tr>
                <tr class="row-4">
                    <th class="banner" scope="row" >할인율</th>
                    <td><input type="number" class="discountRate" name="couponDiscountRate"/> %</td>
                </tr>
                <tr class="row-5">
                    <th class="banner" scope="row" >할인금액</th>
                    <td><input type="number" class="discountAmount" name="couponDiscountAmount"/> 원</td>
                </tr>
                <tr class="row-6">
                    <th class="banner" th:name="couponStock" scope="row" >쿠폰 제한 수량</th>
                    <td><input class="count" type="number" placeholder="쿠폰의 제한 수량을 입력해주세요." name="couponStock"> 개</td>
                </tr>

                <tr class="row-7">
                    <th class="banner" th:name="numberCouponsRemaining" scope="row" >남은 쿠폰 갯수</th>
                    <td>
                        <input class="count" type="number" name="numberCouponsRemaining"> 개
                    </td>
                </tr>

                <tr class="row-8">
                    <th class="banner" th:name="couponValidPeriod" scope="row">쿠폰 사용 가능 기간</th>
                    <td><input type="text" class="commentDate1" name="couponValidPeriod"/> 일
                    </td>
                </tr>

                <tr class="row-9">
                    <th class="banner" th:name="couponTermsUse" scope="row">쿠폰 사용 조건</th>
                    <td><input type="text" class="comment" name="couponTermsUse"/></td>
                </tr>

               <input type="hidden" class="comment" th:name="memberId" th:value="${session.SID}"/>


                </tbody>
            </table>
            <div class="couponBtnArea">
                <button type="submit" class="CouponBtn">쿠폰 등록</button>
            </div>

        </div>

    </form>

</th:block>

<script>

        // var dateInput1 = document.querySelector('.commentDate1');
        // var dateInput2 = document.querySelector('.commentDate2');
        //
        // dateInput2.onchange = function() {
        //     var date1 = new Date(dateInput1.value);
        //     var date2 = new Date(this.value);
        //
        //     var diffInMs = Math.abs(date2 - date1);
        //     var diffInDays = diffInMs / (1000 * 60 * 60 * 24);
        //
        //     if(diffInDays > 30) {
        //         alert("쿠폰 사용 가능 기간이 30일을 초과하였습니다. 다시 선택해주세요.");
        //         this.value = "";
        //     }
        // };



        // 30일 초과 선택 X
        $('.commentDate1').on('change', function(){
            let selectDate = $(this).val();
            const setDate = new Date(selectDate);
            console.log(setDate, '<--?');
            setDate.setDate(setDate.getDate() + 30);

            // 날짜를 원하는 형식으로 포맷팅
            var year = setDate.getFullYear();
            var month = String(setDate.getMonth() + 1).padStart(2, '0');
            var day = String(setDate.getDate()).padStart(2, '0');
            var formattedDate = year + '-' + month + '-' + day;

            $('.commentDate2').attr('max', formattedDate);
        })

        /*
        * 실행 안됬던 이유
        * 1. html 구조가 잘못되어있었음 (body태그 없었음)
        * 2. 제이쿼리 연결 안되어있었음
        * */
</script>

</body>


</html>