<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<head>
    <!--  사용자별 css file 추가 부분 -->
    <style>
        input {
            width: 100%;
        }

        select {
            width: 100%;
        }
    </style>
</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">
    <script>
        function validationCheck(data) {
            let isValid = true;
            if (typeof data == 'object') {

                $.each(data, function () {
                    let checkValue = $(this).val();
                    if (checkValue == null || checkValue == '' || typeof checkValue == 'undefined') {
                        isValid = false;
                        let eleId = $(this).attr('id');
                        let cate = $(`label[for="${eleId}"]`).text();
                        alert(`${cate} 필수 입력 항목입니다.`);
                        $(this).focus();
                        return isValid;
                    }
                });

            } else {
                if (data == null || data == '' || typeof data == 'undefined') {
                    isValid = false;
                }
            }

            return isValid;
        }

        $('#settUpdateBtn').click(function () {

            const formEles = $('#modifyLawSatistifyForm input, #modifyLawSatistifyForm select');

            let isValid = validationCheck(formEles);

            if (isValid) $('#modifyLawSatistifyForm').submit();

        });
    </script>
</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>


<!--/* layout:decorate : 파일에서 사용자 정의로 선언한 조각에 작성한 html 코드 삽입 */-->
<th:block layout:fragment="customContents">
    <form id="modifyLawSatistifyForm" th:action="@{/admin/investment/update/law-satistify}" method="post">

        <div class="admin-wrapper" th:object="${lawSatistifyInfo}">

            <div class="admin-content-wrapper form-table" style="margin-top: 40px;">

                <div class="project-info-title">
                    <h5><label for="lawSatistifyCode">자본시장법 범위충족 코드</label></h5>
                    <p th:text="*{lawSatistifyCode}" style="color: var(--maincolor);"></p>
                </div>
                <br>

                <form id="projectInfoDetailBt" method="get">
                    <table class="settlement-log application-info-detail" style="border:none;">
                        <tbody>
                        <tr>
                            <td>
                                <label for="lawSatistifyReason">자본시장법 범위충족 사유</label>
                            </td>
                            <td colspan="5">
                                <input type="text" id="lawSatistifyReason" name="lawSatistifyReason"
                                       placeholder="자본시장법 범위충족 사유를 입력해주세요." th:value="*{lawSatistifyReason}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="memberId">등록한 아이디</label>
                            </td>
                            <td colspan="5" th:text="*{memberId}"></td>
                        </tr>
                        <tr>
                            <td>
                                <label for="lawSatistifyWhether">범위충족 여부</label>
                            </td>
                            <td>
                                <select id="lawSatistifyWhether" name="lawSatistifyWhether">
                                    <option value="">===충족여부를 선택해주세요===</option>
                                    <option value="1" th:selected="*{lawSatistifyWhether == 1}">충족</option>
                                    <option value="0" th:selected="*{lawSatistifyWhether == 0}">미충족</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>등록일시</label>
                            </td>
                            <td th:text="*{codeRegDay}" colspan="5"></td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="text" id="lawSatistifyCode" name="lawSatistifyCode" th:value="*{lawSatistifyCode}"
                           hidden="hidden">
                    <input type="text" id="memberId" name="memberId" th:value="*{memberId}" hidden="hidden">

                    <div class="btn-area">
                        <ul>
                            <li>
                                <button id="settBackBtn" class="submitBtn" type="button" onclick="backLocationFn()">뒤로
                                </button>
                            </li>
                            <li>
                                <button id="settUpdateBtn" class="submitBtn" type="button">
                                    확인
                                </button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>

    </form>
</th:block>
</html>