<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- admin settlement detail infomation modal layer popup -->
<div class="detail-popup-modal"  style="display: none;" th:fragment="settDetailPopup">
    <div class="detail-popup-contents">

        <div class="admin-content-wrapper form-table" style="height: 100%;">
            <form id="amSettInfoDetail" method="get">
                <div class="title-wrap">
                    <h4 class="admin-content-title">정산 예정 금액 상세</h4>
                </div>
                <table class="am-sett-detail-contents">
                    <thead>
                    <tr>
                        <th rowspan="2">정산신청번호</th>
                        <th colspan="5">상세</th>
                    </tr>
                    <tr>
                        <th>기본 결제 금액(a)</th>
                        <th>수수료율(b)</th>
                        <th>수수료(a*b)</th>
                        <th>쿠폰 사용 금액(c)</th>
                        <th>포인트 결제 금액(d)</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr style="display: none;">
                            <td colspan="10" style="text-align: center; padding: 30px 0;">검색 결과가 없습니다.</td>
                        </tr>
                        <tr>
                            <td>STA2023012001024</td>
                            <td><span class="sett-application-pay">150,000,000</span> 원</td>
                            <td>7%</td>
                            <td><span class="sett-application-pay">10,500,000</span> 원</td>
                            <td><span class="coupon-payments">1,540,000</span> 원</td>
                            <td><span class="point-payments">326,000</span> 원</td>


                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="info-notice">
                <ol>
                    <li>
                        정산 지급 프로세스
                        <ul>
                            <li>
                                톡체크아웃 서비스의 정산 주기는 일정산으로, 구매결정 +1 영업일에 구매자의 결제대금 및 공제내역을 합산하여 지급됩니다.
                                기본 정산 방법은 판매점 가입 시 입력한 정산 계좌 정보로 정산금액이 지급됩니다. (정산 방법은 별도로 설정할 수 없습니다.)
                                단, 해당 계좌가 유효하지 않아 지급 실패된 경우, 충전금으로 적립됩니다. 적립된 충전금은 충전금 현황에서 정산 계좌 정보로 자유롭게 출금할 수 있습니다. (출금 계좌 변경을 원하시는 경우 정산 계좌 정보 변경이 필요합니다.)
                                마이너스 정산금액이 발생한 경우 (결제대금 < 공제금액인 경우), 마이너스 충전금 처리됩니다. 마이너스 충전금은 다음 정산금액에서 상계 처리됩니다.
                            </li>
                        </ul>
                    </li>
                    <li>
                        정산 금액 계산하기
                        <ul>
                            <li>총 정산금액 (a-(a*b)+c+d) = 결제금액 (a) - 수수료 (a*b) + 쿠폰사용금액 (c) + 포인트 결제 금액 (d)</li>
                            <li>결제금액 : 구매자의 결제대금을 합산한 금액</li>
                            <li>수수료 : 구매자의 결제대금에서 결제수단별 수수료를 합산한 금액</li>
                            <li>쿠폰사용금액 : 결제대금 외 구매자의 쿠폰 사용 금액</li>
                            <li>포인트결제금액 : 결제대금 외 구매자의 포인트를 이용한 결제 금액</li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="total-settlements-title">
                <h5>총 정산 예정 금액</h5>
               <span class="settlement-pay">141,366,000</span> 원
            </div>
        </div>
        <div>
            <button type="button" class="close-btn">close</button>
        </div>
    </div>
</div>