<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{seller/layout/default}">

<head>
    <!--  사용자별 css file 추가 부분 -->
</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">
    <script>
        $('#security').change(function () {
            $(this).val();
        });

        // 현재 URL 가져오기
        let currentUrl = window.location.href;

        // 특정 키와 값 설정
        let searchKey = 'searchKey';
        let searchValue = 'searchValue';
        let amDateSettStartDate = 'amDateSettStartDate';
        let amDateSettEndDate = 'amDateSettEndDate';
        let searchSelectValue = 'searchSelectValue';
        let currentPage = 'currentPage';
        let lastPage = 'lastPage';
        let startPageNum = 'startPageNum';
        let endPageNum = 'endPageNum';
        let security = 'security';

        // URL 파싱하여 쿼리스트링 맵으로 변환
        let urlParams = new URLSearchParams(window.location.search);

        // 특정 키와 값 제거
        urlParams.delete(searchKey);
        urlParams.delete(searchValue);
        urlParams.delete(amDateSettStartDate);
        urlParams.delete(amDateSettEndDate);
        urlParams.delete(searchSelectValue);
        urlParams.delete(currentPage);
        urlParams.delete(lastPage);
        urlParams.delete(startPageNum);
        urlParams.delete(endPageNum);
        urlParams.delete(security);

        // 수정된 쿼리스트링을 URL에 반영
        let newUrl = currentUrl.split('?')[0] + '?' + urlParams.toString();

        if (window.location.href !== newUrl) {

            // history.replaceState를 사용하여 주소창에서 쿼리스트링 숨기기
            history.replaceState({}, document.title, newUrl);
        }
    </script>
</th:block>


<!--/* layout:decorate : 파일에서 사용자 정의로 선언한 조각에 작성한 html 코드 삽입 */-->
<th:block layout:fragment="customContents">

    <div th:include="~{seller/investment/search/after_fund_revenue_search :: searchFragment}"></div>
    <br>

    <h4 th:unless="${sellerAfterFundRevenueStockList == null}" class="admin-content-title">투자 프로젝트(주식)</h4>
    <h4 th:unless="${sellerAfterFundRevenueBondList == null}" class="admin-content-title">투자 프로젝트(채권)</h4>

    <div class="admin-content-wrapper">

        <div class="data-info">
            <div class="list-count-area">
                <ul>
                    <li>심사 요청 총 <span class="count-data total-list">0</span>건</li>
                    <li>선택 항목 총 <span class="count-data select-list-count">0</span>건</li>
                </ul>
            </div>
        </div>

        <table class="settlement-log">
            <thead>
            <tr th:unless="${sellerAfterFundRevenueStockList == null}">
                <th>
                    <input type="checkbox" name="allSelect" id="allSelectBtn">
                </th>
                <th>기업정보 공개 코드</th>
                <th>대표자 아이디</th>
                <th>투자펀딩 공고코드</th>
                <th>진행 후 펀딩 달성금액 가치</th>
                <th>펀딩 달성금액</th>
                <th>매출액</th>
                <th>영업이익</th>
                <th>당기순이익</th>
                <th>매출기준일 기업가치</th>
                <th>매출기준일 주가</th>
                <th>배당액</th>
                <th>등록일시</th>
            </tr>
            <tr th:unless="${sellerAfterFundRevenueBondList == null}">
                <th>
                    <input type="checkbox" name="allSelect" id="allSelectBtn">
                </th>
                <th>기업정보 공개 코드</th>
                <th>대표자 아이디</th>
                <th>투자펀딩 공고코드</th>
                <th>진행 후 펀딩 달성금액 가치</th>
                <th>펀딩 달성금액</th>
                <th>매출액</th>
                <th>이익</th>
                <th>당기순이익</th>
                <th>구좌 가격</th>
                <th>이자율</th>
                <th>구좌당수익</th>
                <th>등록일시</th>
            </tr>
            </thead>
            <tbody>
            <tr th:unless="${sellerAfterFundRevenueStockList == null}" th:each="l : ${sellerAfterFundRevenueStockList}">
                <td>
                    <input type="checkbox" name="selectList">
                </td>
                <td>
                    <a th:href="@{/seller/investment/view/after-fund-revenue(afterFundRevenueStockCode=${l.afterFundRevenueStockCode})}"
                       th:text="${l.afterFundRevenueStockCode}" class="detail-link"></a>
                </td>
                <td th:text="${l.memberId}"></td>
                <td>
                    <a th:href="@{/seller/investment/view/investment(investmentCode=${l.investmentCode})}"
                       th:text="${l.investmentCode}" class="detail-link"></a>
                </td>
                <td th:text="${#numbers.formatInteger(l.afterInvestmentAmount,3,'COMMA')} + ' 원'"></td>
                <td th:text="${#numbers.formatInteger(l.investmentAmount,3,'COMMA')} + ' 원'"></td>
                <td th:text="${#numbers.formatInteger(l.take,3,'COMMA')} + ' 원'"></td>
                <td th:text="${#numbers.formatInteger(l.operatingProfit,3,'COMMA')} + ' 원'"></td>
                <td th:text="${#numbers.formatInteger(l.netIncome,3,'COMMA')} + ' 원'"></td>
                <td th:text="${#numbers.formatInteger(l.salesDateEnterpriseValue,3,'COMMA')} + ' 원'"></td>
                <td th:text="${#numbers.formatInteger(l.salesBaseStockPrice,3,'COMMA')} + ' 원'"></td>
                <td th:text="${#numbers.formatInteger(l.dividendAmount,3,'COMMA')} + ' 원'"></td>
                <td th:text="${l.uploadDate}"></td>
            </tr>
            <tr th:unless="${sellerAfterFundRevenueBondList == null}" th:each="l : ${sellerAfterFundRevenueBondList}">
                <td>
                    <input type="checkbox" name="selectList">
                </td>
                <td>
                    <a th:href="@{/seller/investment/view/after-fund-revenue(afterFundRevenueBondCode=${l.afterFundRevenueBondCode})}"
                       th:text="${l.afterFundRevenueBondCode}" class="detail-link"></a>
                </td>
                <td th:text="${l.memberId}"></td>
                <td>
                    <a th:href="@{/seller/investment/view/investment(investmentCode=${l.investmentCode})}"
                       th:text="${l.investmentCode}" class="detail-link"></a>
                </td>
                <td th:text="${#numbers.formatInteger(l.afterInvestmentAmount,3,'COMMA')} + ' 원'"></td>
                <td th:text="${#numbers.formatInteger(l.investmentAmount,3,'COMMA')} + ' 원'"></td>
                <td th:text="${#numbers.formatInteger(l.take,3,'COMMA')} + ' 원'"></td>
                <td th:text="${#numbers.formatInteger(l.profit,3,'COMMA')} + ' 원'"></td>
                <td th:text="${#numbers.formatInteger(l.netIncome,3,'COMMA')} + ' 원'"></td>
                <td th:text="${#numbers.formatInteger(l.accountPrice,3,'COMMA')} + ' 원'"></td>
                <td><span th:text="${l.interestRate}"></span> %</td>
                <td th:text="${#numbers.formatInteger(l.earningsPerAccount,3,'COMMA')} + ' 원'"></td>
                <td th:text="${l.uploadDate}"></td>
            </tr>
            </tbody>
        </table>
        <br>

        <div class="board-page-area">
            <div class="list-controller-inner">
                <ul>
                    <li><a th:href="@{/seller/investment/search/after-fund-revenue(searchKey=${searchKey}, searchValue=${searchValue}, amDateSettStartDate=${amDateSettStartDate}, amDateSettEndDate=${amDateSettEndDate})}"><<</a></li>
                    <li><a th:if="${currentPage > 1}"
                           th:href="@{/seller/investment/search/after-fund-revenue(currentPage=${currentPage - 1}, searchKey=${searchKey}, searchValue=${searchValue}, amDateSettStartDate=${amDateSettStartDate}, amDateSettEndDate=${amDateSettEndDate})}">&lt;</a>
                        <span th:unless="${currentPage > 1}">&lt;</span>
                    </li>
                    <th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
                        <a th:if="${num != currentPage}"
                           th:href="@{/seller/investment/search/after-fund-revenue(currentPage=${num}, searchKey=${searchKey}, searchValue=${searchValue}, amDateSettStartDate=${amDateSettStartDate}, amDateSettEndDate=${amDateSettEndDate})}">[[${'[' + num + ']'}]]</a>
                        <span th:unless="${num != currentPage}" th:text="|[${num}]|"></span>
                    </th:block>
                    <li><a th:if="${currentPage < lastPage}"
                           th:href="@{/seller/investment/search/after-fund-revenue(currentPage=${currentPage +1}, searchKey=${searchKey}, searchValue=${searchValue}, amDateSettStartDate=${amDateSettStartDate}, amDateSettEndDate=${amDateSettEndDate})}">></a>
                        <span th:unless="${currentPage < lastPage}">></span>
                    </li>
                    <li><a th:href="@{/seller/investment/search/after-fund-revenue(currentPage=${lastPage}, searchKey=${searchKey}, searchValue=${searchValue}, amDateSettStartDate=${amDateSettStartDate}, amDateSettEndDate=${amDateSettEndDate})}">>></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--<div class="btn-area">
        <ul>
            <li>
                <button type="button" class="submitBtn"
                        th:onclick="|location.href='@{/seller/investment/insert/after-fund-revenue}'|">
                    등록하기
                </button>
            </li>
        </ul>
    </div>-->

</th:block>
</html>