<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks48team02.seller.mapper.donation.SellerDonationMapper">

    <select id="getDonPrjInfoByCode" parameterType="String" resultType="DonationList">
        SELECT
            d.donation_code AS donationCode,
            d.member_id AS memberId,
            d.donation_condition AS donationCondition,
            d.donation_subject AS donationSubject,
            d.donation_achievement_money AS donationAchievementMoney,
            d.donation_goal_money AS donationGoalMoney,
            d.donation_achievement_percent AS donationAchievementPercent,
            d.donation_reg_date AS donationRegDate,
            d.donation_end_date AS donationEndDate,
            d.donation_start_date AS donationStartDate,
            d.donation_judgment_reason_detail AS donationJudgmentReasonDetail,
            d.admin_member_id AS adminMemberId
        FROM
            donation AS d
        WHERE
            d.donation_code = #{projectCode}
    </select>
    <select id="getDonationProjectList" resultType="DonationList">
        SELECT
            d.donation_code AS donationCode,
            d.member_id AS memberId,
            d.donation_condition AS donationCondition,
            d.donation_subject AS donationSubject,
            d.donation_achievement_money AS donationAchievementMoney,
            d.donation_goal_money AS donationGoalMoney,
            d.donation_reg_date AS donationRegDate,
            d.donation_end_date AS donationEndDate,
            d.donation_start_date AS donationStartDate,
            d.donation_judgment_reason_detail AS donationJudgmentReasonDetail,
            d.admin_member_id AS adminMemberId
        FROM
            donation AS d;
    </select>

    <update id="startProject" parameterType="String">
        UPDATE
            donation
        SET
            donation_start_date = NOW(),
            donation_condition = 3
        WHERE
            donation_code = #{donationCode};
    </update>

    <select id="getAllDonationInfo" resultType="AllDonationInfo" parameterType="String">
        SELECT
            d.donation_code AS donationCode,
            d.store_code AS storeCode,
            s.store_name AS storeName,
            t.category_name AS categoryName,
            d.member_id AS memberId,
            d.donation_judgement_reason_code AS donationJudgementReasonCode,
            d.admin_member_id AS adminMemberId,
            d.total_category_code AS totalCategoryCode,
            d.donation_subject AS donationSubject,
            d.donation_like AS donationLike,
            d.donation_contents AS donationContents,
            d.donation_image AS donationImage,
            d.donation_reg_date AS donationRegDate,
            d.donation_start_date AS donationStartDate,
            d.donation_end_date AS donationEndDate,
            d.donation_achievement_money AS donationAchievementMoney,
            d.donation_goal_money AS donationGoalMoney,
            d.donation_achievement_percent AS donationAchievementPercent,
            d.donation_judgment_reason_detail AS donationJudgmentReasonDetail,
            d.donation_judgement_date AS donationJudgementDate,
            d.search_count AS searchCount,
            d.donation_condition AS donationCondition
        FROM
            donation AS d
            INNER JOIN
            store AS s
        ON
            s.store_code = d.store_code
            INNER JOIN
            total_category AS t
        ON
            t.total_category_code = d.total_category_code
        WHERE
            d.member_id = #{memberId};
    </select>

    <insert id="addNews" parameterType="String">
        <selectKey keyProperty="newsCode" resultType="String" order="BEFORE">
            SELECT
                (CASE
                    WHEN
                        COUNT(n.news_code) = 0  THEN CONCAT('new_', CURDATE()+0, '_1')
                    ELSE
                        CONCAT('new_', CURDATE()+0 ,'_' ,MAX(CAST(substring_index(n.news_code,'_',-1)AS UNSIGNED )+1))
                END) AS newsCode
            FROM
                news as n
            WHERE
                SUBSTRING_INDEX(SUBSTRING_INDEX(n.news_code,'_',2),'_',-1) = CURDATE()+0
        </selectKey>
            INSERT INTO `news`
                (news_code, project_code, news_subject, news_content, news_datetime, news_modify_datetime, news_delete_datetime , news_display)
            VALUES
                (#{newsCode}, #{donationCode}, #{detailSubject}, #{detailComent}, NOW(), NULL, NULL, 1);
    </insert>

    <select id="getNews" resultType="NewsList">
        SELECT
            n.news_code AS newsCode,
            n.project_code AS projectCode,
            n.news_subject AS newsSubject,
            n.news_content AS newsContent,
            n.news_datetime AS newsDatetime,
            n.news_modify_datetime AS newsModifyDatetime,
            n.news_delete_datetime AS newsDeleteDatetime,
            n.news_display AS newsDisplay
        FROM
            news AS n;
    </select>

    <update id="updateNews" parameterType="String">
        UPDATE
            news
        SET
            news_subject = #{detailSubject},
            news_content = #{detailComent},
            news_modify_datetime = NOW()
        WHERE
            news_code = #{newsCode};
    </update>

    <delete id="deleteNews" parameterType="String">
        DELETE
        FROM
            news
        WHERE
            news_code = #{newsCode};
    </delete>

    <insert id="addCondition" parameterType="String">
        <selectKey keyProperty="conditionCode" resultType="String" order="BEFORE">
            SELECT
                (
                CASE
                WHEN COUNT(condition_datetime) = 0     THEN CONCAT('con_', CURDATE()+0, '_0001')
                WHEN COUNT(condition_datetime) > 9999  THEN CONCAT('con_', CURDATE()+0, '_', COUNT(condition_datetime)+1)
                ELSE CONCAT('con_', CURDATE()+0, '_', LPAD(COUNT(condition_datetime)+1, 4, '0'))
                END
                ) AS conditionCode
            FROM
                `condition`
            WHERE
                DATE_FORMAT(condition_datetime, '%Y-%m-%d') = CURDATE();
        </selectKey>
        INSERT INTO `condition`
        (condition_code, project_code, condition_content, condition_datetime, condition_modify_datetime, condition_delete_datetime , condition_display)
        VALUES
        (#{conditionCode}, #{donationCode}, #{detailComent}, NOW(), NULL, NULL, 1);
    </insert>

    <select id="modifyCondition" parameterType="String">
        SELECT
            condition_content
        FROM
            `condition`
        WHERE
            project_code = #{donationCode};
    </select>

    <update id="updateCondition" parameterType="String">
        UPDATE
            `condition`
        SET
            condition_content = #{detailComent},
            condition_modify_datetime = NOW()
        WHERE
            project_code = #{donationCode};
    </update>

    <select id="isCondition" parameterType="String">
        SELECT
            COUNT(condition_code)
        FROM
            `condition`
        WHERE
            project_code = #{donationCode};
    </select>
</mapper>