<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{seller/layout/default}">

<head>
    <!--  사용자별 css file 추가 부분 -->
<style>
    /*  검은 버튼  */
    .submitBtn_black {
        background: #191919;
        padding: 7px 23px;
        transition: all .4s;
        color: #fff;
        display: inline-block;
        text-decoration: none;
        border: 1px solid #191919;
        font-size: 12px;
        transition: background 0.3s;
        margin-left: 7px;
    }

    .submitBtn_black:hover {
        background: var(--maincolor);
        border: 1px solid var(--maincolor);
    }

    /* 흰 버튼 */
    .submitBtn_white {
        background: #fff;
        padding: 7px 23px;
        transition: all .4s;
        color: #191919;
        display: inline-block;
        text-decoration: none;
        border: 1px solid #191919;
        font-size: 12px;
        transition: background 0.3s;
        margin-left: 10px;
    }

    .submitBtn_white:hover {
        background: var(--maincolor);
        border: 1px solid var(--maincolor);
        color: #fff;
    }
</style>
</head>

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3 th:text="${contentsTitle}">스토어 만들기</h3>

            </div>
        </div>

        <div class="row" style="width: 1200px">
            <div class="admin-wrapper">
                <!-- 사용자정의 contents start -->
                <th:block layout:fragment="customContents">
                    <!-- 스토어 등록하기 폼 -->
                    <div class="right_col" role="main">
                        <div class="pageContainer" style="width:1200px; display: flex; justify-content:space-evenly; gap:30px; padding: 20px;">
                            <div class="row" style="display: flex;" >
                                <div class="admin-wrapper">
                                    <form class="edit-store" style="width:700px; display: flex; flex-direction: column; padding: 20px; gap:10px;">
                                        <div class="mb-3">
                                            <label for="store-name" class="form-label">스토어 이름</label>
                                            <div style="display: flex; gap:10px;">
                                                <input type="text" class="form-control" id="store-name" value="" placeholder="스토어 이름 입력">
                                                <button class="submitBtn_white" style="width:105px;">중복확인</button>
                                            </div>
                                            <div class="form-text" style="color:red; font-size:13px;" aria-hidden="true">해당 스토어 이름이 이미 존재합니다</div>
                                        </div>
                                        <div id="emailHelp" class="form-text"></div>
                                        <div class="mb-3">
                                            <label for="corp-reg-num" class="form-label">사업자등록번호</label>
                                            <input type="password" class="form-control"  aria-describedby="emailHelp" id="corp-reg-num" placeholder="사업자 등록번호 10자리 입력">
                                        </div>
                                        <div class="mb-3">
                                            <label for="corp_name" class="form-label">상호 또는 법인명</label>
                                            <input type="password" class="form-control" id="corp_name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="field-of-business" class="form-label">사업의 종류</label>
                                            <input type="text" class="form-control"  aria-describedby="emailHelp" id="field-of-business">
                                        </div>
                                        <div class="mb-3">
                                            <label for="business-license" class="form-label">사업자등록증</label>
                                            <input type="file" class="form-control"  aria-describedby="emailHelp" id="business-license">
                                        </div>
                                        <div class="mb-3">
                                            <label for="representative" class="form-label">대표자명</label>
                                            <input type="password" class="form-control"  aria-describedby="emailHelp" id="representative" placeholder="">
                                        </div>
                                        <div class="mb-3">
                                            <label for="input-account-bank" class="form-label">대표 계좌 은행</label>
                                            <input type="text" class="form-control"  aria-describedby="emailHelp" id="input-account-bank">
                                        </div>
                                        <div class="mb-3">
                                            <label for="input-account-number" class="form-label">대표 계좌번호</label>
                                            <input type="password" class="form-control" id="input-account-number">
                                        </div>
                                        <div class="mb-3">
                                            <label for="copy-bankbook" class="form-label">통장사본</label>
                                            <input type="file" class="form-control"  aria-describedby="emailHelp" id="copy-bankbook">
                                        </div>
                                        <div class="mb-3">
                                            <label for="business-place" class="form-label">사업장 소재지</label>
                                            <input type="file" class="form-control"  aria-describedby="emailHelp" id="business-place">
                                        </div>
                                    </form>

                                    <div class="d-grid gap" style="width: 700px; display: flex; justify-content: end; padding: 20px;">
                                        <button type="button" class="submitBtn_black"
                                                data-toggle="modal" data-target="#submitModal" >등록하기</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!--    모달창    -->
                    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: large">스토어 심사 제출</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    심사 후 승인시 스토어가 생성됩니다.
                                    입력된 정보를 제출하시겠습니까?
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="submitBtn_white" data-dismiss="modal">취소</button>
                                    <button type="submit" class="submitBtn_black">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--    모달창 끝      -->

                </th:block>
                <!-- 사용자정의 contents end -->
            </div>

        </div>
    </div>
</div>
<!-- /page content -->

<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">
<script>

</script>
</th:block>



</html>